<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>Calculator</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Addition</display-name>
    <servlet-name>Addition</servlet-name>
    <servlet-class>operation.Addition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addition</servlet-name>
    <url-pattern>/Addition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Multiplication</display-name>
    <servlet-name>Multiplication</servlet-name>
    <servlet-class>operation.Multiplication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Multiplication</servlet-name>
    <url-pattern>/Multiplication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperationServlet</display-name>
    <servlet-name>OperationServlet</servlet-name>
    <servlet-class>operation.OperationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperationServlet</servlet-name>
    <url-pattern>/OperationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdditionServlet</display-name>
    <servlet-name>AdditionServlet</servlet-name>
    <servlet-class>operation.AdditionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdditionServlet</servlet-name>
    <url-pattern>/AdditionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MultiplicationServlet</display-name>
    <servlet-name>MultiplicationServlet</servlet-name>
    <servlet-class>operation.MultiplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultiplicationServlet</servlet-name>
    <url-pattern>/MultiplicationServlet</url-pattern>
  </servlet-mapping>
</web-app>